{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}">Dribbble</a> - {% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}">Email</a> - {% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}">Facebook</a> - {% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}">Flickr</a> - {% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}">Github</a> - {% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}">Instagram</a> - {% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">Linkedin</a> - {% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">Pinterest</a> - {% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml">Rss</a> - {% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">Twitter</a> - {% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">Stackoverflow</a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}">Youtube</a> - {% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}">Googleplus</a> - {% endif %}