@use 'variables' as *;

.pagination {
    border-top: 0.5px solid $grey-2;
    font-family: $heading-font;
    padding-top: 2rem;
    position: relative;
    text-align: center;

    span {
        color: $default-shade;
        font-size: $font-size-base;
    }

    .top {
        @include transition(all 0.3s ease-out);
        color: $default-color;
        font-family: $heading-font;
        font-size: $font-size-sm;
        font-weight: 500;
        letter-spacing: $letter-spacing-wide;
        text-transform: uppercase;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    .arrow {
        @include transition(all 0.3s ease-out);
        color: $default-color;
        position: absolute;

        &:hover,
        &:focus {
            opacity: 0.6;
            text-decoration: none;
        }
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }
}
