---
layout: default
---

<div class="catalogue">
    <h1>Showing posts with topic "{{ page.topics }}"</h1>

    <div class="post">
    {{ page.content }}
    </div>

    <div class="hr"></div>

    {% for post in site.posts %}
        {% if post.topics contains page.topics %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
            <div>
                <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: '%B %d, %Y' }}</time>
                <h1 class="catalogue-title">{{ post.title }}</h1>
                <div class="catalogue-line"></div>

                <p>
                    {{ post.content | strip_html | truncatewords: 30 }}
                </p>
            </div>
        </a>
        {% endif %}
    {% endfor %}
</div>

<div class="pagination">
    <a href="#" class="top">Top</a>
</div>